@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=WDXL+Lubrifont+TC&display=swap');

@theme{
  --font-family: 'WDXL Lubrifont TC', monospace;
  --color-text: #c9d1d9;
  --color-text-secondary: #8b949e;
  --color-accent: #58a6ff;
  --color-accent-secondary: #79c0ff;
  --color-border: #30363d;
  --color-border-secondary: #21262d;
}